* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-image: url(images/hero-background.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}

.content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #ffffffd3;
}

.content  h1 {
    font-size: 64px;
    font-weight: 600;
}

.content h1 span {
    color: #7d37ff
}

.content button {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.time {
    display: flex;
}

.time div {
    flex-basis: 100px;
}

.time div p {
    font-size: 60px;
    margin-bottom: -14px;
}
